node_modules

# Archivos temporales de Windows
nul

# Variables de entorno (contienen secretos)
.env
.env.local
.env.*.local

# documentación
docs/

# postman collection
postman/

# github folder
.github/

#Esto es un cambio para recuperar el proyecto